{{ define "content" }}
  <div class="contact-container">
    <h1>Contact Me</h1>
    <p>You can get in touch with me through the following channels:</p>
    <ul>
      <li>Email: <a href="mailto:handell.desulme@gmail.com">handell.desulme@gmail.com</a></li>
      <li>LinkedIn: <a href="https://www.linkedin.com/in/hjdesulme">in/hjdesulme</a></li>
      <li>Twitter: <a href="https://twitter.com/HandellDesulme">@HandellDesulme</a></li>
      <li>GitHub: <a href="https://github.com/hjdesulme">@hjdesulme</a></li>
    </ul>
  </div>

  <style>
    .contact-container {
      max-width: 900px;
      margin: 4em auto;
      padding: 2em;
      font-family: 'Open Sans', Arial, sans-serif;
      line-height: 1.6;
      color: #333;
    }
  </style>
{{ end }}