@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  background-color: #f0f0f0;
  color: #333;
}

.container {
  max-width: 800px;
  margin: 0 auto;
}

header {
  border-bottom: 2px solid #333;
  padding-bottom: 1rem;
}

h1, h2, h3 {
  font-weight: normal;
}

.section-content {
  background-color: #fff;
  border: 1px solid #333;
  padding: 1rem;
  margin-top: 1rem;
  position: relative;
  overflow: hidden;
  transition: padding-bottom 0.3s ease;
}

.about-content {
  transition: opacity 0.3s ease;
}

.menu {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: flex-end;
}

.menu li {
  margin-left: 1rem;
}

.menu a {
  text-decoration: none;
  color: #333;
}

.menu a:hover {
  text-decoration: underline;
}

#cellular-automata {
  opacity: 0.1;
}

.who-look-like-me {
  cursor: pointer;
  text-decoration: underline;
  color: #0056b3;
  transition: color 0.3s ease;
  font-weight: bold;
  background-color: #e6f3ff;
  padding: 2px 4px;
  border-radius: 3px;
}

.who-look-like-me:hover {
  color: #003d82;
  background-color: #cce5ff;
}

#wllm-container {
  transition: opacity 0.3s ease, height 0.3s ease;
  height: 0;
  top: 3rem; /* This should match the top padding of .section-content */
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}

#wllm-image {
  width: 100%;
  height: auto;
  object-fit: contain;
  object-position: top;
}

.hidden {
  opacity: 0;
  pointer-events: none;
}

.section-content.show-image {
  padding-bottom: calc(1rem + 225px); /* Default for mobile */
}

@media screen and (min-width: 768px) {
  .section-content.show-image {
    padding-bottom: calc(1rem + 450px); /* For desktop */
  }
}

#wllm-container.show {
  height: 600px; /* Adjust this value as needed */
}

.blog-link {
  cursor: pointer;
  text-decoration: underline;
  color: #0056b3;
  transition: color 0.3s ease;
  font-weight: bold;
}

.blog-link:hover {
  color: #003d82;
}

#bml-traffic-model {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.2;
  pointer-events: none;
}

.content {
  font-size: 1.8rem;
  line-height: 1.8;
}

.contact-container {
  font-size: 1.8rem;
  line-height: 1.8;
}